<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>پنل مدیریت | استاید ثبت شده</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
          th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" href="../static/dist/css/adminlte.min.css"
          th:href="@{/dist/css/adminlte.min.css}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
          th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet">

    <!-- bootstrap rtl -->
    <link rel="stylesheet" href="../static/dist/css/custom-style.css"
          th:href="@{/dist/css/bootstrap-rtl.min.css}">
    <!-- template rtl version -->
    <link rel="stylesheet" href="../static/dist/css/custom-style.css"
          th:href="@{/dist/css/custom-style.css}">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a th:href="@{/redirect/admin}" class="nav-link">خانه</a>
            </li>
        </ul>

        <!-- SEARCH FORM -->

        <!-- Right navbar links -->
        <ul class="navbar-nav mr-auto">
            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a href="/logout" class="nav-link">خروج</a>

                </a>
            </li>
            <!-- Notifications Dropdown Menu -->
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <p class="brand-link">
            <span class="brand-text font-weight-light">پنل مدیریت</span>
        </p>

        <!-- Sidebar -->
        <div class="sidebar">
            <div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="#" th:href="@{/admin/course}" class="nav-link">
                                <i class="nav-icon fa fa-dashboard"></i>
                                <p>
                                    دوره ها
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>

                        </li>
                        <li class="nav-item has-treeview ">
                            <a href="#" th:href="@{/admin/teacher}" class="nav-link">
                                <i class="nav-icon fa fa-pie-chart"></i>
                                <p>
                                    اساتید
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" th:href="@{/admin/student}" class="nav-link">
                                <i class="nav-icon fa fa-tree"></i>
                                <p>
                                    کاروندان
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills justify-content-center">
                                <li class="nav-item"><a class="nav-link" href="#enablesTeachers" data-toggle="tab">اساتید
                                    ثبت شده</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#disablesTeachers" data-toggle="tab">اساتید
                                    در انتظار تایید</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane" id="enablesTeachers">
                                    <div class="card-body">
                                        <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6"></div>
                                                <div class="col-sm-12 col-md-6"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table class="table table-bordered table-hover dataTable"
                                                           role="grid">
                                                        <thead>
                                                        <tr role="row">
                                                            <th tabindex="0" class="sorting" aria-controls="example2"
                                                                aria-label="شماره دوره: activate to sort column ascending"
                                                                rowspan="1" colspan="1">نام
                                                            </th>
                                                            <th tabindex="0" class="sorting" aria-controls="example2"
                                                                aria-label="عنوان دوره: activate to sort column ascending"
                                                                rowspan="1" colspan="1">نام خانوادگی
                                                            </th>
                                                            <th tabindex="0" class="sorting" aria-controls="example2"
                                                                aria-label="تاریخ شروع: activate to sort column ascending"
                                                                rowspan="1" colspan="1">کد
                                                            </th>
                                                            <th tabindex="0" class="sorting_asc"
                                                                aria-controls="example2"
                                                                aria-label="ویرایش: activate to sort column descending"
                                                                aria-sort="ascending" rowspan="1" colspan="1"> ویرایش
                                                                نقش
                                                            </th>
                                                            <th tabindex="0" class="sorting_asc"
                                                                aria-controls="example2"
                                                                aria-label="حذف: activate to sort column descending"
                                                                aria-sort="ascending" rowspan="1" colspan="1">حذف
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr class="odd" role="row" th:each="teacher : ${enables}">
                                                            <td th:text="${teacher.firstName}">Trident</td>
                                                            <td th:text="${teacher.lastName}">Internet Explorer ۷</td>
                                                            <td th:text="${teacher.code}">Win XP SP۲+</td>
                                                            <td>
                                                                <a type="submit"
                                                                   th:href="@{/admin/teacher/show/{id}(id=${teacher
                                                                   .id})}"
                                                                   class="btn btn-primary btn-flat d-inline text-white">
                                                                    ویرایش
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a type="submit"
                                                                        th:href="@{/admin/teacher/delete/{id}(id=${teacher.id})}"
                                                                        class="btn btn-primary btn-flat d-inline">
                                                                    حذف
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5"></div>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="dataTables_paginate paging_simple_numbers"
                                                    >
                                                        <ul class="pagination">
                                                            <li class="paginate_button page-item previous disabled"
                                                            ><a tabindex="0" class="page-link"
                                                                aria-controls="example2" href="#"
                                                                data-dt-idx="0">قبلی</a></li>
                                                            <li class="paginate_button page-item active"><a tabindex="0"
                                                                                                            class="page-link"
                                                                                                            aria-controls="example2"
                                                                                                            href="#"
                                                                                                            data-dt-idx="1">۱</a>
                                                            </li>
                                                            <li class="paginate_button page-item "><a tabindex="0"
                                                                                                      class="page-link"
                                                                                                      aria-controls="example2"
                                                                                                      href="#"
                                                                                                      data-dt-idx="2">۲</a>
                                                            </li>
                                                            <li class="paginate_button page-item "><a tabindex="0"
                                                                                                      class="page-link"
                                                                                                      aria-controls="example2"
                                                                                                      href="#"
                                                                                                      data-dt-idx="3">۳</a>
                                                            </li>
                                                            <li class="paginate_button page-item "><a tabindex="0"
                                                                                                      class="page-link"
                                                                                                      aria-controls="example2"
                                                                                                      href="#"
                                                                                                      data-dt-idx="4">۴</a>
                                                            </li>
                                                            <li class="paginate_button page-item "><a tabindex="0"
                                                                                                      class="page-link"
                                                                                                      aria-controls="example2"
                                                                                                      href="#"
                                                                                                      data-dt-idx="5">۵</a>
                                                            </li>
                                                            <li class="paginate_button page-item "><a tabindex="0"
                                                                                                      class="page-link"
                                                                                                      aria-controls="example2"
                                                                                                      href="#"
                                                                                                      data-dt-idx="6">۶</a>
                                                            </li>
                                                            <li class="paginate_button page-item next"><a
                                                                    tabindex="0" class="page-link"
                                                                    aria-controls="example2"
                                                                    href="#" data-dt-idx="7">بعدی</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane active" id="disablesTeachers">
                                    <div class="card-body">
                                        <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6"></div>
                                                <div class="col-sm-12 col-md-6"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table class="table table-bordered table-hover dataTable"
                                                           role="grid">
                                                        <thead>
                                                        <tr role="row">
                                                            <th tabindex="0" class="sorting" aria-controls="example2"
                                                                aria-label="شماره دوره: activate to sort column ascending"
                                                                rowspan="1" colspan="1">نام
                                                            </th>
                                                            <th tabindex="0" class="sorting" aria-controls="example2"
                                                                aria-label="عنوان دوره: activate to sort column ascending"
                                                                rowspan="1" colspan="1">نام خانوادگی
                                                            </th>
                                                            <th tabindex="0" class="sorting" aria-controls="example2"
                                                                aria-label="تاریخ شروع: activate to sort column ascending"
                                                                rowspan="1" colspan="1">کد
                                                            </th>
                                                            <th tabindex="0" class="sorting_asc"
                                                                aria-controls="example2"
                                                                aria-label="ویرایش: activate to sort column descending"
                                                                aria-sort="ascending" rowspan="1" colspan="1"> ویرایش
                                                                نقش
                                                            </th>
                                                            <th tabindex="0" class="sorting_asc"
                                                                aria-controls="example2"
                                                                aria-label="حذف: activate to sort column descending"
                                                                aria-sort="ascending" rowspan="1" colspan="1">فعال کردن
                                                            </th>
                                                            <th tabindex="0" class="sorting_asc"
                                                                aria-controls="example2"
                                                                aria-label="حذف: activate to sort column descending"
                                                                aria-sort="ascending" rowspan="1" colspan="1">حذف
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr class="odd" role="row" th:each="teacher : ${disables}">
                                                            <td th:text="${teacher.firstName}">Trident</td>
                                                            <td th:text="${teacher.lastName}">Internet Explorer ۷</td>
                                                            <td th:text="${teacher.code}">Win XP SP۲+</td>
                                                            <td>
                                                                <a type="submit"
                                                                   th:href="@{/admin/teacher/show/{id}(id=${teacher.id})}"
                                                                   class="btn btn-primary btn-flat d-inline text-white">
                                                                    ویرایش
                                                                </a>
                                                            </td>

                                                            <td>
                                                                <a type="submit"
                                                                   th:href="@{/admin/teacher/enable/{id}(id=${teacher.id})}"
                                                                   class="btn btn-primary btn-flat d-inline">
                                                                    فعال کردن
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a type="submit"
                                                                   th:href="@{/admin/teacher/delete/{id}(id=${teacher.id})}"
                                                                   class="btn btn-primary btn-flat d-inline">
                                                                    حذف
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5"></div>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="dataTables_paginate paging_simple_numbers"
                                                    >
                                                        <ul class="pagination">
                                                            <li class="paginate_button page-item previous disabled"
                                                            ><a tabindex="0" class="page-link"
                                                                aria-controls="example2" href="#"
                                                                data-dt-idx="0">قبلی</a></li>
                                                            <li class="paginate_button page-item active"><a tabindex="0"
                                                                                                            class="page-link"
                                                                                                            aria-controls="example2"
                                                                                                            href="#"
                                                                                                            data-dt-idx="1">۱</a>
                                                            </li>
                                                            <li class="paginate_button page-item "><a tabindex="0"
                                                                                                      class="page-link"
                                                                                                      aria-controls="example2"
                                                                                                      href="#"
                                                                                                      data-dt-idx="2">۲</a>
                                                            </li>
                                                            <li class="paginate_button page-item "><a tabindex="0"
                                                                                                      class="page-link"
                                                                                                      aria-controls="example2"
                                                                                                      href="#"
                                                                                                      data-dt-idx="3">۳</a>
                                                            </li>
                                                            <li class="paginate_button page-item "><a tabindex="0"
                                                                                                      class="page-link"
                                                                                                      aria-controls="example2"
                                                                                                      href="#"
                                                                                                      data-dt-idx="4">۴</a>
                                                            </li>
                                                            <li class="paginate_button page-item "><a tabindex="0"
                                                                                                      class="page-link"
                                                                                                      aria-controls="example2"
                                                                                                      href="#"
                                                                                                      data-dt-idx="5">۵</a>
                                                            </li>
                                                            <li class="paginate_button page-item "><a tabindex="0"
                                                                                                      class="page-link"
                                                                                                      aria-controls="example2"
                                                                                                      href="#"
                                                                                                      data-dt-idx="6">۶</a>
                                                            </li>
                                                            <li class="paginate_button page-item next"><a
                                                                    tabindex="0" class="page-link"
                                                                    aria-controls="example2"
                                                                    href="#" data-dt-idx="7">بعدی</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- /.tab-content -->
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>CopyLeft &copy; 2018 <a href="http://github.com/hesammousavi/">حسام موسوی</a>.</strong>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../static/plugins/jquery/jquery.min.js"
        th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script src="../static/plugins/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- FastClick -->
<script src="../static/plugins/fastclick/fastclick.js"
        th:src="@{/plugins/fastclick/fastclick.js}"></script>
<!-- AdminLTE App -->
<script src="../static/dist/js/adminlte.min.js"
        th:src="@{/dist/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script src="../static/dist/js/demo.js"
        th:src="@{/dist/js/demo.js}"></script>
</body>
</html>
